<?xml version="1.0" encoding="UTF-8"?>
<javaee:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <javaee:display-name>JeeCmsV8.1</javaee:display-name>
  <javaee:context-param>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			/WEB-INF/config/application-context.xml
			/WEB-INF/config/cache-context.xml
			/WEB-INF/config/captcha-context.xml
			/WEB-INF/config/jeecms/jeecore-context.xml
			/WEB-INF/config/jeecms/jeecms-context.xml
			/WEB-INF/config/shiro-context.xml
			/WEB-INF/config/plug/**/*-context.xml
			/WEB-INF/config/quartz-task.xml
		</javaee:param-value>
  </javaee:context-param>
  <javaee:listener>
    <javaee:listener-class>    
            org.springframework.web.context.request.RequestContextListener    
        </javaee:listener-class>
  </javaee:listener>
  <javaee:filter>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:filter-class>com.jeecms.common.web.ProcessTimeFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:filter-class>org.springframework.web.filter.CharacterEncodingFilter</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>encoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter>
    <javaee:filter-name>shiroFilter</javaee:filter-name>
    <javaee:filter-class>org.springframework.web.filter.DelegatingFilterProxy</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>targetFilterLifecycle</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter>
    <javaee:filter-name>XssFilter</javaee:filter-name>
    <javaee:filter-class>com.jeecms.common.web.XssFilter</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>excludeUrls</javaee:param-name>
      <javaee:param-value>/member@/flow_statistic@/search@/api
      </javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter>
    <javaee:filter-name>resourceCheck</javaee:filter-name>
    <javaee:filter-class>com.jeecms.common.web.ResourceFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>resourceCheck</javaee:filter-name>
    <javaee:url-pattern>/wenku/*</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:url-pattern>*.do</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:url-pattern>*.do</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>*.do</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:url-pattern>*.jspx</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:url-pattern>*.jspx</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>*.jspx</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:url-pattern>*.jhtml</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:url-pattern>*.jhtml</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>*.jhtml</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:url-pattern>*.htm</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:url-pattern>*.htm</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>*.htm</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>processTime</javaee:filter-name>
    <javaee:url-pattern>*.jsp</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>encoding</javaee:filter-name>
    <javaee:url-pattern>*.jsp</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>*.jsp</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>osivFilter</javaee:filter-name>
    <javaee:url-pattern>/</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>shiroFilter</javaee:filter-name>
    <javaee:url-pattern>/*</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>XssFilter</javaee:filter-name>
    <javaee:url-pattern>*.jspx</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>XssFilter</javaee:filter-name>
    <javaee:url-pattern>*.jhtml</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>XssFilter</javaee:filter-name>
    <javaee:url-pattern>*.html</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter-mapping>
    <javaee:filter-name>XssFilter</javaee:filter-name>
    <javaee:url-pattern>*.jsp</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:servlet>
    <javaee:servlet-name>JeeCmsAdmin</javaee:servlet-name>
    <javaee:servlet-class>org.springframework.web.servlet.DispatcherServlet</javaee:servlet-class>
    <javaee:init-param>
      <javaee:param-name>contextConfigLocation</javaee:param-name>
      <javaee:param-value>
				/WEB-INF/config/jeecms-servlet-admin.xml
				/WEB-INF/config/plug/**/*-servlet-admin-action.xml
			</javaee:param-value>
    </javaee:init-param>
    <javaee:load-on-startup>1</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet>
    <javaee:servlet-name>JeeCmsFront</javaee:servlet-name>
    <javaee:servlet-class>org.springframework.web.servlet.DispatcherServlet</javaee:servlet-class>
    <javaee:init-param>
      <javaee:param-name>contextConfigLocation</javaee:param-name>
      <javaee:param-value>
				/WEB-INF/config/jeecms-servlet-front.xml
				/WEB-INF/config/plug/**/*-servlet-front-action.xml
			</javaee:param-value>
    </javaee:init-param>
    <javaee:load-on-startup>2</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet>
    <javaee:servlet-name>Jcaptcha</javaee:servlet-name>
    <javaee:servlet-class>com.jeecms.common.captcha.JcaptchaServlet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>Jcaptcha</javaee:servlet-name>
    <javaee:url-pattern>/captcha.svl</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>DbFile</javaee:servlet-name>
    <javaee:servlet-class>com.jeecms.core.action.front.DbFileServlet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>DbFile</javaee:servlet-name>
    <javaee:url-pattern>/dbfile.svl</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>SnapScreen</javaee:servlet-name>
    <javaee:servlet-class>com.jeecms.core.action.front.SnapScreenServlet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>SnapScreen</javaee:servlet-name>
    <javaee:url-pattern>/snapscreen.svl</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet-mapping>
    <javaee:servlet-name>JeeCmsAdmin</javaee:servlet-name>
    <javaee:url-pattern>/jeeadmin/jeecms/*</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet-mapping>
    <javaee:servlet-name>JeeCmsFront</javaee:servlet-name>
    <javaee:url-pattern>*.jhtml</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet-mapping>
    <javaee:servlet-name>JeeCmsFront</javaee:servlet-name>
    <javaee:url-pattern>*.jspx</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet-mapping>
    <javaee:servlet-name>JeeCmsFront</javaee:servlet-name>
    <javaee:url-pattern>*.jsp</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet-mapping>
    <javaee:servlet-name>JeeCmsFront</javaee:servlet-name>
    <javaee:url-pattern>*.htm</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:listener>
    <javaee:listener-class>org.springframework.web.context.ContextLoaderListener</javaee:listener-class>
  </javaee:listener>
  <javaee:listener>
    <javaee:listener-class>org.springframework.web.util.IntrospectorCleanupListener</javaee:listener-class>
  </javaee:listener>
  <javaee:servlet>
    <javaee:servlet-name>AxisServlet</javaee:servlet-name>
    <javaee:servlet-class>org.apache.axis.transport.http.AxisServlet</javaee:servlet-class>
    <javaee:load-on-startup>1</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>AxisServlet</javaee:servlet-name>
    <javaee:url-pattern>/services/*</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:security-constraint>
    <javaee:web-resource-collection>
      <javaee:url-pattern>/*</javaee:url-pattern>
      <javaee:http-method>PUT</javaee:http-method>
      <javaee:http-method>DELETE</javaee:http-method>
      <javaee:http-method>HEAD</javaee:http-method>
      <javaee:http-method>OPTIONS</javaee:http-method>
      <javaee:http-method>TRACE</javaee:http-method>
    </javaee:web-resource-collection>
    <javaee:auth-constraint/>
  </javaee:security-constraint>
  <javaee:login-config>
    <javaee:auth-method>BASIC</javaee:auth-method>
  </javaee:login-config>
  <javaee:session-config>
    <javaee:session-timeout>20</javaee:session-timeout>
  </javaee:session-config>
  <javaee:welcome-file-list>
    <javaee:welcome-file>index.html</javaee:welcome-file>
    <javaee:welcome-file>index.shtml</javaee:welcome-file>
    <javaee:welcome-file>index.jhtml</javaee:welcome-file>
  </javaee:welcome-file-list>
  <javaee:error-page>
    <javaee:error-code>403</javaee:error-code>
    <javaee:location>/WEB-INF/error/403.html</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>404</javaee:error-code>
    <javaee:location>/404.html</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>500</javaee:error-code>
    <javaee:location>/WEB-INF/error/500.html</javaee:location>
  </javaee:error-page>
  <javaee:mime-mapping>
    <javaee:extension>rar</javaee:extension>
    <javaee:mime-type>application/zip</javaee:mime-type>
  </javaee:mime-mapping>
  <javaee:mime-mapping>
    <javaee:extension>doc</javaee:extension>
    <javaee:mime-type>application/zip</javaee:mime-type>
  </javaee:mime-mapping>
  <javaee:mime-mapping>
    <javaee:extension>wps</javaee:extension>
    <javaee:mime-type>application/zip</javaee:mime-type>
  </javaee:mime-mapping>
  <javaee:mime-mapping>
    <javaee:extension>et</javaee:extension>
    <javaee:mime-type>application/zip</javaee:mime-type>
  </javaee:mime-mapping>
</javaee:web-app>